body{
	/*background: white; */
	margin: 0;
}
html{
	height: 100%;
	}
.bio{
	height:300px;
	width:80%;
	margin:auto;
	text-align: center;
}
.portfolio{
	height:650px;
	width:80%;
	margin:auto;
	/*padding: 0% 10%; */
	text-align: center;
}
.picturepane{
	margin:auto;
}
.contact{
	width:80%;
	height:300px;
	margin:auto;
	text-align: center;
}
.content{
       padding-top:10%;
	   text-align:center;
	}
.navbar {
    margin:0; /*add this*/
}
.parallax {
    /* The image used */
    background-image: url("parallax.jpg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}