body{
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	background:black;
	}

.grid-container{
    background: red;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr 60px 200px;
    min-height: 700px;
}


#main{
    /*picture needs to be in a nested div*/
    overflow: hidden;
    
    min-width:1000px;
    max-height:1600px;
    max-width: 4000px;
    background: green;
    grid-row:2/3;
    min-height: 300px;
    
}
#map{
    background-image: url("map.jpg"); 
    zoom: 1;
}
.status{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(100,100,100);
    color: white;
    grid-row: 1/2;
}
#options{
    display:flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    background: rgb(150,150,150);
    grid-row: 3/4;
}

#buttonsContainer{
    display:flex;
    align-content: space-between;
}


#cards{
    display:flex;
    justify-content: space-around;
    background: rgb(100,100,100);
    color:white;
    grid-row: 4/5;
}

.handTitle{
    text-align:center;
    border: 2px solid white;
    padding: 5px 30px;
    border-radius: 5px;
}  

.handTitle .card{
    
    text-align: center;
    height: 20px;
    width: 200px;
    color: hotpink;
    
}





.blue{
    color: rgb(0,0,200);
}
.red{
    color: rgb(200,0,0);
}
.yellow{
    color: rgb(200,200,0);
}.black{
    color: rgb(0,0,0);
}
.green {
    color:rgb(0,200,0);
}

.Blue{
    color: rgb(0,0,200);
}
.Red{
    color: rgb(200,0,0);
}
.Yellow{
    color: rgb(200,200,0);
}.Black{
    color: rgb(0,0,0);
}
.Green {
    color:rgb(0,200,0);
}