body{
	font-family: 'Montserrat', sans-serif;
	padding: 5px;
	background:black;
    /*lets make it 1300 by 700 min*/
    min-width: 1400px;
    min-height: 1000px;
    /*max-height: vmax;*/
}

.grid-container{
    overflow:scroll;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr 60px 200px;
}

.control {
  border: 2px solid red;
  width:100px;
  border-radius: 13px;
  color: #ffffff;
  background: transparent;
  padding: 5px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  
}
.control:hover {
	background-color:transparent;
    background: #3cb0fd;
    text-decoration: none;
}
.control:active {

}


#main{
    /*picture needs to be in a nested div*/
    overflow: hidden;
    max-height:70vh;
    min-width:1000px;
    max-width: 4000px;*/
    background: green;
    grid-row:2/3;
    min-height: 300px;
}

#tradeOverlay{
    /*picture needs to be in a nested div*/

}
#map{
    background-image: url("map.jpg"); 
    zoom: 1;
}
.status{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(100,100,100);
    color: white;
    grid-row: 1/2;
}
#options{
    padding: 5px;
    display:flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    background: rgb(150,150,150);
    grid-row: 3/4;
}

#buttonsContainer{
    display:flex;
    text-align: center;
    justify-content: space-between;
    min-width: 700px;
    
}
#cards{
    display:flex;
    justify-content: space-around;
    background: rgb(100,100,100);
    color:white;
    grid-row: 4/5;
    padding: 5px;
}

.handTitle{
    text-align:center;
    border: 2px solid white;
    padding: 5px 20px;
    border-radius: 5px;
}  

.handTitle .card{
    text-align: center;
    height: 20px;
    width: 200px;
    color: hotpink;
    
}


.blue{
    color: rgb(0,0,200);
}
.red{
    color: rgb(200,0,0);
}
.yellow{
    color: rgb(200,200,0);
}.black{
    color: rgb(0,0,0);
}
.green {
    color:rgb(0,200,0);
}

.Blue{
    color: rgb(0,0,200);
}
.Red{
    color: rgb(200,0,0);
}
.Yellow{
    color: rgb(200,200,0);
}.Black{
    color: rgb(0,0,0);
}
.Green {
    color:rgb(0,200,0);
}
.card:hover{
    background: slateblue; 
    
}
.trade{
    text-decoration: underline;
}
 
#popUp{
    position:absolute;
    top:40%;
	left:40%;
    width:400px;
    height:300px;
	background:rgb(150,150,150);
    color:white;
    text-align: center;
    padding: 20px;
}

.hidden{
    display:none;
}